/build
/bin
/local-config.properties
/local-boot.properties
/build.properties
*~
out
/resources/compiled
/resources/classes
/resources/custom/
/accounts.json
/config.json
/error.log
/i10n/ru/missing/
/windows.json
/charterbook.json
/autochoose.json